<!DOCTYPE html>
<html lang="fr">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>{% block title %}{{ appName }} - Espace admin{% endblock %}</title>
   <!-- plugins:css -->
   <link rel="stylesheet" href="{{ asset('themes/admin/vendors/feather/feather.css') }}">
   <link rel="stylesheet" href="{{ asset('themes/admin/vendors/ti-icons/css/themify-icons.css') }}">
   <link rel="stylesheet" href="{{ asset('themes/admin/vendors/css/vendor.bundle.base.css') }}">
   <!-- endinject -->
   <!-- Plugin css for this page -->
   <link rel="stylesheet" href="{{ asset('themes/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
   <link rel="stylesheet" href="{{ asset('themes/admin/vendors/ti-icons/css/themify-icons.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ asset('themes/admin/js/select.dataTables.min.css') }}">
   <!-- End plugin css for this page -->
   <!-- inject:css -->
   <link rel="stylesheet" href="{{ asset('themes/admin/css/vertical-layout-light/style.css') }}">
   <!-- endinject -->
   <link rel="shortcut icon" href="{{ asset('img/logo-miniature-web.PNG') }}" type="image/x-icon">
   {% block stylesheets %}
   {{ encore_entry_link_tags('app') }}
   {% endblock %}
</head>

<body data-turbo="false">
   <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
         <div class="content-wrapper d-flex align-items-center auth px-0">

            <div class="row w-100 mx-0">
               {% block body %}{% endblock %}
            </div>

         </div>
      </div>
   </div>

   <!-- plugins:js -->
   <script src="{{ asset('themes/admin/vendors/js/vendor.bundle.base.js') }}"></script>
   <!-- endinject -->
   <!-- Plugin js for this page -->
   <script src="{{ asset('themes/admin/vendors/chart.js/Chart.min.js') }}"></script>
   <script src="{{ asset('themes/admin/vendors/datatables.net/jquery.dataTables.js') }}"></script>
   <script src="{{ asset('themes/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
   <script src="{{ asset('themes/admin/js/dataTables.select.min.js') }}"></script>

   <!-- End plugin js for this page -->
   <!-- inject:js -->
   <script src="{{ asset('themes/admin/js/off-canvas.js') }}"></script>
   <script src="{{ asset('themes/admin/js/hoverable-collapse.js') }}"></script>
   <script src="{{ asset('themes/admin/js/template.js') }}"></script>
   <script src="{{ asset('themes/admin/js/settings.js') }}"></script>
   <script src="{{ asset('themes/admin/js/todolist.js') }}"></script>
   <!-- endinject -->
   <!-- Custom js for this page-->
   <script src="{{ asset('themes/admin/js/dashboard.js') }}"></script>
   <script src="{{ asset('themes/admin/js/Chart.roundedBarCharts.js') }}"></script>
   <!-- End custom js for this page-->
   {% block javascripts %}
   {{ encore_entry_script_tags('app') }}
   {% endblock %}
</body>

</html>